/* .local_video {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
  } */
  body{
    background: rgb(186, 96, 12);
  }
  
  .video1 {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 43%;
    left: 87%;
    transform: translate(-50%, -50%);
  }
  
  .video2 {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 87%;
    left: 87%;
    transform: translate(-50%, -50%);
  }
  
  .video3 {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 21%;
    left: 87%;
    transform: translate(-50%, -50%);
  }
  
  .video4 {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 65%;
    left: 87%;
    transform: translate(-50%, -50%);
  }
  
  .local {
    width: 83%;
    height: 86%;
    position: absolute;
    top: 54%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
